:root {
  /* Colors */
  --green_color: #54e6af;
  --grey_color: #2c344b;
  --greywhite_color: #5a668a;
  --bluewhite_color: #c2cbe5;
  --dark_color: #121725;
  --white_color: #ffffff;
  /*  */
}

* {
  margin: 0;
  box-sizing: border-box;
}
* > * {
  margin-top: 1.5em;
}

/* Style */
body {
  font-family: "Chivo", sans-serif;
  background-color: var(--dark_color);
  color: var(--white_color);
  background-image: url(/assets/desktop/image-host.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position-x: 65%;
  background-blend-mode: multiply;
}
h1 {
  font-weight: 300;
  font-size: 1.6875rem;
  line-height: 2.375rem;
  text-transform: uppercase;
}
h1,
.main-body {
  max-width: 350px;
  margin: 0 auto;
}
.green-title {
  color: var(--green_color);
}
.main-body {
  font-style: 0.9375rem;
  color: var(--bluewhite_color);
  line-height: 1.5625rem;
  line-height: 1.5625rem;
  font-weight: 300;
  opacity: 0.7;
  margin-bottom: 1em;
}
/*  */
/* Layout */
.container,
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-container {
  margin-bottom: 2em;
}
.main-content {
  display: flex;
  flex-direction: column;
}
.container {
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  mix-blend-mode: multiply;
}
.soft-logo-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 17px;
  margin-bottom: 1em;
  margin-top: 0;
  opacity: 0.6;
}
.soft-logo {
  height: 95%;
  width: auto;
  color: var(--greywhite_color);
}

.input-container {
  display: flex;
  flex-direction: column;
  order: 1;
}
.btn {
  width: 100%;
  padding: 1em 2em;
  border-radius: 25px;
  border: none;
}
.input-btn:hover {
  background-color: #b3ffe2;
}
.input-email {
  background-color: var(--grey_color);
  color: var(--white_color);
}
.input-email::placeholder {
  color: var(--white_color);
  opacity: 0.5;
}
.input-btn {
  background-color: var(--green_color);
  color: var(--dark_color);
  font-weight: 600;
}
.img-random {
  display: none;
}
/*  */
@media only screen and (min-width: 700px) {
  h1 {
    font-size: 3rem;
    max-width: 600px;
    line-height: 3.5rem;
  }
  body {
    background-image: url(/assets/tablet/image-host.jpg);
    background-blend-mode: initial;
    background-size: auto 69%;
    background-position: top right;
  }
  .main-content {
    background-color: var(--dark_color);
    padding: 4em 2em 1em 0;
    max-width: none;
    position: relative;
    top: 50px;
  }
  .main-body {
    margin-left: 0;
    max-width: 400px;
  }
  .container {
    text-align: left;
    align-items: flex-start;
  }
  .soft-logo-container {
    order: 1;
    justify-content: flex-start;
    height: 30px;
    align-items: center;
  }
  .soft-logo {
    margin-right: 2em;
  }
  .img-random {
    display: initial;
    position: absolute;
    bottom: 0;
  }
  .input-container {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 63%;
    margin-bottom: 2em;
    align-items: center;
    margin-bottom: 3em;
  }
  .input-email {
    padding: 1.2em 2em;
  }
  .input-btn {
    position: absolute;
    right: 3px;
    width: 150px;
  }
  .google-logo {
    height: 18px;
  }
}
@media only screen and (min-width: 1250px) {
  .container {
    padding-left: 3em;
    padding-top: 3em;
  }
  h1 {
    font-size: 3.25rem;
    max-width: 700px;
  }
  .main-body {
    font-size: 1.125rem;
    max-width: 450px;
  }
  body {
    background-image: url(/assets/desktop/image-host.jpg);
    background-position: top 165px right;
  }
  .img-random {
    right: 0;
    bottom: 100px;
  }
  .main-content {
    padding: 6em 0em 9em 2em;
    position: relative;
    top: 110px;
  }
  .soft-logo-container {
    height: 30px;
  }
}
